<template>
  <section class="section" id="section-helps">
    <div id="Abdu-content">
      <div id="Abdu-content-help">
        <h2><!-- react-text: 6484 -->Abdu Version <!-- /react-text --><!-- react-text: 6485 -->1.0.0<!-- /react-text --></h2>
        <div class="accordion-group">
          <label for="question0" class="title">How do I get more help?</label>
          <input type="checkbox" id="question0" class="control-checkbox" value="on" checked="">
          <div class="disclosure"></div>
          <div class="content">
            <p><!-- react-text: 6492 -->Abdu is crafted with <!-- /react-text -->
              <svg class="heart" width="14px" height="14px" viewBox="0 0 32 32">
                <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"></path>
              </svg><!-- react-text: 6495 --> by xxx and xxx. Find release notes and downloads at: <!-- /react-text -->
              <span class="link">www.Abdu.io/releases</span>
              <!-- react-text: 6497 -->. Use the buttons below to learn about Abdu, solve problems and get in touch. Thank you for using Abdu!<!-- /react-text -->
            </p>

          </div>
        </div>
        <div class="accordion-group">
          <label for="question1" class="title">What is this Wallet?</label>
          <input type="checkbox" id="question1" class="control-checkbox" value="on">
          <div class="disclosure"></div>
          <div class="content">
            <p>Abdu is software to secure, manage and trade blockchain assets.</p>
            <p>Those familiar with traditional finance can think of Abdu as a self-managed brokerage account for a new class of investments called blockchain assets,
              digital assets or cryptocurrency.
            </p>
            <p>Just as the internet opened the free exchange of information, blockchains evolve the exchange of financial assets.
              Traditional brokerage accounts have slow settlement with limited hours in established jurisdictions. In contrast,
              blockchain markets are hyper-speed-24/7-worldwide markets available to anyone, any age, anywhere.
              Abdu allows you to participate in these new global markets from any computer running Mac, Windows or Linux.
            </p>
            <p>Similar to a traditional stock market, there are thousands of distinct blockchain assets. Bitcoin was the first blockchain asset - other popular blockchain assets include Ethereum,
              Litecoin, and Dash. Just like traditional stock, each blockchain asset carries unique properties and is priced by markets independently.
              These blockchain assets inherently have different utility, areas of focus, values, beliefs and overall culture backing the asset.
            </p>
          </div>
        </div>
        <div class="accordion-group">
          <label for="question2" class="title">How do I get started?</label>
          <input type="checkbox" id="question2" class="control-checkbox" value="on">
          <div class="disclosure"></div>
          <div class="content">
            <p>The easiest way to get started managing a portfolio of blockchain assets is to buy bitcoin with your national currency (like US dollars) and transfer
              bitcoin into your Abdu wallet. Bitcoin is the base unit of blockchain assets, just like stocks are priced and
              purchased with national currency (US dollars), most blockchain assets are priced and purchased with bitcoin.
            </p>
            <p>
              For users in Asia, Australia,
              Europe or North America Abdu recommends purchasing bitcoin with Coinbase. Coinbase can be used in over 32 countries.
              You can find the list of countries Coinbase supports at:
              <span class="link">www.coinbase.com/global/</span>
            </p>
            <p>
              <span class="link">Read more in our knowledge base...</span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</template>
