<template>
    <section class="section" id="section-wallets" style="width:100%; height:100%">
        <div class="row" style="height:100%">
          <div class="col-xs-2 wallet-nav color-bitcoin" style="height:100%">
            <div class="wallet-link-div bitcoin row active" data-section-coin="section-coin-bitcoin" style="margin-top:10px; vertical-align:center">
              <p class="wallet-link" style="">Bitcoin</p>
            </div>
            <div class="wallet-link-div ethereum row" data-section-coin="section-coin-ethereum">
              <p class="wallet-link" style="">Ethereum</p>
            </div>
            <div class="wallet-link-div eos row" data-section-coin="section-coin-eos">
              <p class="wallet-link" style="">EOS Token</p>
            </div>
            <div class="wallet-link-div lite row" data-section-coin="section-coin-lite">
              <p class="wallet-link" style="">LiteCoin</p>
            </div>
          </div>
          <div id="main-div-coin" class="col-xs-10" style="height:100%;">
          </div>
        </div>
    </section>
</template>
