<template>
  <section class="section" id="section-welcomes">
    <div id="exodus-content">
      <div id="exodus-content-portfolio">
        <div id="add-asset" class="add">
          <span>+</span>
        </div>
        <div id="donut-chart">
          <div id="portfolio-chart">
            <div id="welcome-to-exodus">
              <div id="welcome-to-exodus-chart"></div>
              <div id="welcome-to-exodus-logomark"></div>
              <div id="welcome-title">Welcome To Exodus</div>
              <div id="welcome-message">
                <!-- react-text: 288 -->Get started by sending assets to your wallet or&nbsp;<!-- /react-text -->
                <span class="restore-link">restore from backup</span><!-- react-text: 290 -->.<!-- /react-text -->
              </div>
            </div>
          </div>
          <div id="portfolio-key">
            <div class="key-item">
              <div class="key-name">Bitcoin</div>
              <span class="key-percentage percentage-text">
                <!-- react-text: 111 -->0<!-- /react-text --><!-- react-text: 112 -->%<!-- /react-text -->
              </span>
              <div class="key-color exodus-bg-color-bitcoin"></div>
              <div class="click-group-hack">
                <span class="currency-text key-value">
                  <span class="symbol">$</span>
                  <span class="amount-whole">0</span>
                  <span class="amount-partial">.00</span>
                </span>
              </div>
            </div>
            <div class="key-item">
              <div class="key-name">Bitcoin Cash</div>
              <span class="key-percentage percentage-text">
                <!-- react-text: 121 -->0<!-- /react-text --><!-- react-text: 122 -->%<!-- /react-text -->
              </span>
              <div class="key-color exodus-bg-color-bcash"></div>
              <div class="click-group-hack">
                <span class="currency-text key-value">
                  <span class="symbol">$</span>
                  <span class="amount-whole">0</span>
                  <span class="amount-partial">.00</span>
                </span>
              </div>
            </div>

            <div class="key-item">
              <div class="key-name">Dash</div>
              <span class="key-percentage percentage-text">
                <!-- react-text: 151 -->0<!-- /react-text --><!-- react-text: 152 -->%<!-- /react-text -->
              </span>
              <div class="key-color exodus-bg-color-dash"></div>
              <div class="click-group-hack">
                <span class="currency-text key-value">
                  <span class="symbol">$</span>
                  <span class="amount-whole">0</span>
                  <span class="amount-partial">.00</span>
                </span>
              </div>
            </div>

            <div class="key-item">
              <div class="key-name">EOS</div>
              <span class="key-percentage percentage-text">
                <!-- react-text: 281 -->0<!-- /react-text --><!-- react-text: 282 -->%<!-- /react-text -->
              </span>
              <div class="key-color exodus-bg-color-eos"></div>
              <div class="click-group-hack">
                <span class="currency-text key-value">
                  <span class="symbol">$</span>
                  <span class="amount-whole">0</span>
                  <span class="amount-partial">.00</span>
                </span>
              </div>
            </div>

            <div class="key-item">
              <div class="key-name">Ethereum</div>
              <span class="key-percentage percentage-text">
                <!-- react-text: 191 -->0<!-- /react-text --><!-- react-text: 192 -->%<!-- /react-text -->
              </span>
              <div class="key-color exodus-bg-color-ethereum">
              </div>
              <div class="click-group-hack">
                <span class="currency-text key-value">
                  <span class="symbol">$</span>
                  <span class="amount-whole">0</span>
                  <span class="amount-partial">.00</span>
                </span>
              </div>
            </div>
            <div class="key-item">
              <div class="key-name">Litecoin</div>
              <span class="key-percentage percentage-text">
                <!-- react-text: 231 -->0<!-- /react-text --><!-- react-text: 232 -->%<!-- /react-text -->
              </span>
              <div class="key-color exodus-bg-color-litecoin">
              </div>
              <div class="click-group-hack">
                <span class="currency-text key-value">
                  <span class="symbol">$</span>
                  <span class="amount-whole">0</span>
                  <span class="amount-partial">.00</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
